<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
  <groups>
<run>
<include name="smoke"></include>
<include name="regression"></include>
<include name="common"></include>
</run>
</groups>
    <classes>
      <class name="testcases.CreateComputer"/>   
      <class name="testcases.ReadComputer"/>
      <class name="testcases.EditComputer"/>
      <class name="testcases.DeleteComputer"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
